{% extends "site_base.html" %}

{% block title %}Features{% endblock %}
{% block robots %}index,follow{% endblock %}

{% block content %}
<h1>Features</h1>

<p>The go-to platform for the modern day marketer who cares about driving 
customer engagement in a digital first world.</p>
<section class="quote">
    <p>
"By 2022, CMOs who utilize 70% of their martech stack’s capabilities will achieve 20% better SaaS ROI than peers"</p>
    <p>Gartner 2020 SaaS Technology Report</p>
</section>

<section class="quote">
    <p>
"68% of respondents face challenges, unable to utilise their stacks’ full capabilities, investing in tools and add-ons that ultimately go unused"</p>
    <p>Gartner 2020 SaaS Technology Report</p>
</section>

{% endblock %}
