{% extends "site_base.html" %}

{% block title %}Home{% endblock %}
{% block robots %}index,follow{% endblock %}

{% block content %}
<!-- Background Section -->
<div class="background-section">
  <div class="mask">
    <div class="content-container">
      <h1 class="mb-3">SaaS made simple</h1>
      <p class="mb-2">All-In-One SaaS platform built for the modern day marketer</p>
      <p class="mb-2">Beta Launching Q3 2021</p>
      <a class="btn btn-primary" href="{% url 'account_signup' %}" role="button">Register now!</a>
    </div>
  </div>
</div>
{% endblock %}
