{% extends "site_base.html" %}
{% load static %}

{% block body_class %}blank{% endblock %}

{% block body %}
<div class="container blank-container">
  <!-- Navigation Placeholder -->
  {% block nav %}
  <!-- Navigation can be overridden in templates that extend this one -->
  {% endblock nav %}

  <!-- Main Content -->
  <div class="blank-content">
    {% block content %}
    <!-- Main content can be overridden in templates that extend this one -->
    {% endblock content %}
  </div>

  <!-- Footer -->
  {% block footer %}
    {% include "site_footer.html" %}
  {% endblock footer %}
</div>

<!-- Modal Placeholder -->
{% block modal %}
<!-- Modal content can be overridden in templates that extend this one -->
{% endblock modal %}
{% endblock %}
